.main__section__btn__item {
    position: absolute;
    display: block;
    width: 276px;
    height: 46px;
    left: 43%;
    top: 55%;
    background: var(--navi-semi-transparent);
    border-radius: 43px;
    z-index: 200;
    margin: 0 auto;
    border: none;
}

.main__section__btn__item:hover {
    border: 2px solid white;
    font-weight: 800;
    cursor: pointer;
}

.guaranteeing__btn {
    width: 267.5px;
    height: 55px;
    background: #000000;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
    margin: 5% auto;
}

.guaranteeing__btn:hover, .project__btn__bottom:hover {
   cursor: pointer;
   background: transparent;
   color: var(--black);
   font-weight: bold;
   border: 3px solid var(--black);
}

.project__btn__bottom {
    width: 276px;
    height: 46px;
    background: var(--black);
    border-radius: 43px;
    z-index: 100;
}

