@media screen and (min-width: 320px) and (max-width: 767px){
    .main__section__arrow {
        display: none;
    }

    #menu {
        display: block;
    }

    .main__img__container__cropped__picture {
        width: 100%;
        margin: 0 auto;
    }

    .header__menu__container__text__item {
        font-weight: 900;
        font-size: 16px;
        line-height: 1.37;
    }

    .header__menu__container__navigation {
        display: none;
    }

    .header__menu__logo__img {
        width: 22px;
        height: 22px;
    }

    .header__menu__mobile__container {
        height: 20px;
        width: 50px;
    }

    .bar {
        height: 3px;
        width: 100%;
        background-color: var(--white-basic);
        display: block;
        border-radius: 5px;
        transition: .3s ease;
    }

    #bar1 {
        transform: translateY(-4px);
    }

    #bar2 {
        width: 70%;
        margin-left: 30%;
    }

    #bar3 {
        transform: translateY(4px);
    }

    .nav {
        transition: .3s ease;
        display: none;
    }

    .mobile__nav__ul {
        padding: 0 60px;
        background: var(--brown);
        backdrop-filter: blur(.2rem);
    }

    .mobile__nav__link {
        list-style: none;
        padding: 12px 0;
    }

    .mobile__nav__li {
        color: var(--white-basic);
        font-size: 20px;
        text-decoration: none;
    }

    .mobile__nav__li:hover {
        font-weight: bold;
    }

    .menu-bg, #menu {
        top: 45%;
        right: 5%;
        position: absolute;
    }

    .change {
        display: block;
    }

    .change .bar {
        background-color: var(--blue);
        margin-left: 100%;
    }

    .change #bar1 {
        transform: translateY(4px) rotateZ(-45deg);
    }

    .change #bar2 {
        opacity: 0;
    }

    .change #bar3 {
        transform: translateY(-3px) rotateZ(45deg);
    }

    .header__menu__container__text__item {
        margin-left: -30%;
        margin-top: 2%;
    }

    .main__section__btn__item {
        display: none;
     }

    .main__section__btn__item__position {
        display: block;
        position: absolute;
        top: 70%;
        left: 9%;
    }

    .hide {
        display: none;
    }

    .main__section__text__item {
        font-weight: 600;
        font-size: 16px;
        line-height: 1.56;
        letter-spacing: .03em;
        text-transform: uppercase;
        width: 250px;
        margin-left: -30%;
        margin-top: 100%;
    }

    .main__img__container {
        width: 100vw;
        height: 100vh;
        background-image: url(../../img/main_section_background.png);
        background-repeat: no-repeat;
        background-size: auto 568px;
        background-position: center;
    }

    .miniSwiper {
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .guaranteeing__container__block__one, .guaranteeing__container__block__two,
    .guaranteeing__container__block__three, .guaranteeing__container__block__four,
    .guaranteeing__line {
        display: none;
    }

    .miniSwiper__first__slide {
        height: 100px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .miniSwiper__number {
        font-weight: 600;
        font-size: 22px;
        line-height: 1.36;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: .08em;
        margin: -20% auto;
    }

    .miniSwiper__text {
        font-weight: 400;
        font-size: 12px;
        line-height: 1;
        text-align: center;
        text-transform: lowercase;
        margin: 0 auto;
    }

    .miniSwiper__lines__container {
        width: 60px;
        height: 5px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
}
