.header__menu {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: start;
    z-index: 300;
    height: 10%;
    width: 296px;
}

.header__menu__container {
    margin: 0 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
}

.header__menu__container img {
    width: 53px;
    height: 52px;
}

.header__menu__container__text__item {
    margin: 0 auto;
    width: 400px;
    height: 25px;
    font-weight: 700;
}

.header__menu__container__navigation {
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    width: 90%;
}

.header__menu__container__navigation__item {
    width: 150px;
}

.header__menu__container__navigation__item:nth-child(4n) {
    width: 250px;
}

.header__menu__container__navigation__item:hover {
    font-weight: 800;
    cursor: pointer;
}
