:root {
    /* font */
    --globalFontFamily: 'Open Sans', sans-serif;

    /* color */
    --white-basic: #FFFFFF;

    --blue: #29A28C;

    --black: #000000;

    --black-semi-transparent: rgba(42, 40, 40, 0.2);

    --blue-semi-transparent: rgba(3, 12, 66, .3);

    --navi-semi-transparent: rgba(0, 153, 125, .79);

}
